#maintitle {
    background-color:chocolate
}

.center {
    text-align:center;
    background-color:cornflowerblue
}

.titleone, .titletwo, .titlethree {
    font-family:fantasy
}

.img {
    height:auto;
    width: 300px;
}